* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Navbar Styles */
  
  .nav-link {
    color: #4b5563;
    size: 16px;
    line-height: 28px;
    font-weight: 600;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #1f2937;
  }
  
  .dropdown-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #4b5563;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dropdown-link:hover {
    background-color: #f3f4f6;
    color: #1f2937;
  }
  
  .btn-signup {
    background-color: #e94339;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 36px;
    gap: 30px;
    font-weight: 600;
    transition: background-color 0.3s;
  }
  
  .btn-signup:hover {
    background-color: #dc2626;
  }
  
  /* Banner Styles */
  
  .banner-section p {
    font-weight: 600;
  }
  
  .input-field input {
    width: 260px;
    height: 100px;
  }
  
  .app-image img {
    width: 200px;
    height: 100px;
    border-radius: 10px;
  }
  
  .order-button {
    background-color: #ff5331;
    font-weight: 400;
    color: #fff;
    font-weight: 600;
  }
  
  /* Footer Styles */
  
  .footer-body {
    background-color: #000;
    color: #b5b2b2;
  }
  
  .footer-column h2 {
    font-weight: 600;
    color: #fff;
  }
  
  .footer-column li {
    margin-top: 10px;
  }
  
  /* Media Queries */
  
  /* Tablet */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .nav-link {
      font-size: 14px;
      line-height: 24px;
    }
  }
  
  /* Mobile */
  @media only screen and (max-width: 767px) {
    .nav-link {
      font-size: 12px;
      line-height: 20px;
    }
  
    .btn-signup {
      padding: 0.3rem 0.6rem;
      border-radius: 20px;
    }
  
    .footer-column li {
      margin-top: 8px;
    }
  }
  